<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap" rel="stylesheet">

</head>
<body>
    <!-- It should be moved to another file named "navbar.html" -->
    <nav class="sticky top-0 z-50" style="background-color: #1B1464;"> 
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
          <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src="https://superpayturizm.com/assets/images/logo.png" alt="logo" loading="lazy" width="170" height="55" decoding="async" class="w-[100px] md:w-[170px]" style="color: transparent;">
          </a>
          <div class="flex space-x-4">
            <a href="#" class="transition transform hover:scale-110 rounded-md px-3 py-2 text-sm font-medium text-gray-200 hover:bg-indigo-800 hover:text-white">Services</a>
            <a href="#" class="transition transform hover:scale-110 rounded-md px-3 py-2 text-sm font-medium text-gray-200 hover:bg-indigo-800 hover:text-white">Institutional</a>
            <a href="#" class="transition transform hover:scale-110 rounded-md px-3 py-2 text-sm font-medium text-gray-200 hover:bg-indigo-800 hover:text-white">Personalized Travel</a>
            <a href="#" class="transition transform hover:scale-110 rounded-md px-3 py-2 text-sm font-medium text-gray-200 hover:bg-indigo-800 hover:text-white">Health Tourism</a>
            <a href="#" class="transition transform hover:scale-110 rounded-md px-3 py-2 text-sm font-medium text-gray-200 hover:bg-indigo-800 hover:text-white">Special Tours</a>
          </div>
          <a href="#" class="flex text-sm text-white gap-2 bg-red-500 py-3 px-4 rounded-3xl hover:bg-red-600 transition transform hover:scale-105 ">
            <img src="https://www.reshot.com/preview-assets/icons/UANBKF398R/whatsapp-UANBKF398R.svg" alt="whatsapp" loading="lazy" width="24" height="20" decoding="async" style="color: transparent;" class="">
            <div class="text-md font-semibold">02123003366</div>
          </a>
        </div>
    </nav>
  <div style="background-color: #EEEFF0;">
    <div class="relative">
        <img src="https://superpayturizm.com/assets/images/header.jpg" alt="bg" class="w-full h-auto">
        <div class="absolute inset-0 flex flex-col items-center justify-center space-y-4">
            <h1 class="text-white text-1.2xl font" style="letter-spacing: 20px;">BEST TOUR IN</h1>
            <h2 class="text-white font-semibold" style="font-size: 190px;">ISTANBUL</h2>
            <button class="hover:bg-gray-600 hover:bg-opacity-50 rounded-full border border-white px-10 py-3 text-white font-semibold flex items-center">
                <img src="https://superpayturizm.com/assets/svg/call.svg" alt="" class="w-6 h-6 mr-2">
                Reserve Now
            </button>         
        </div>
    </div>

    <div class="mt-28 flex justify-center">
      <h2 class="text-4xl font-bold" style="color: #3D377B;">
        <div class="bg-red-500 rounded-full w-20 h-20 mx-auto -mb-12"></div>
        Services
      </h2>
    </div>

    <div class="text-center mx-auto mb-16 px-80 mt-10 font-semibold" style="color: #3D377B;">
      It is the general sales agency of Turkish Airlines, Sun Express and Pegasus Airlines. Our team handles all your 
      corporate travel needs; We provide services in all areas of tourism with our domestic & international tickets, 
      accommodation, visa, car rental & transfer and VIP services. corporate-travelCorporate Travel
    </div>
    
    <div class="mt-16">
      <div class="relative inline-block ml-14 px-1 transition transform hover:scale-105">
        <img src="https://superpayturizm.com/assets/images/corporate-travel.jpg" alt="" class=" rounded-lg" decoding="async" loading="lazy">
        <div class="absolute bottom-0 left-0 px-8 py-4 transition-transform">
          <h1 class="text-white font-bold text-xl transition-transform transform hover:scale-110">Corporate Travel</h1>
        </div>
      </div>
      <div class="relative inline-block transition transform hover:scale-105">
        <img src="https://superpayturizm.com/assets/images/flight-ticket.jpg" alt="" class=" rounded-lg" decoding="async" loading="lazy">
        <div class="absolute bottom-0 left-0 px-8 py-4 transition-transform">
          <h1 class="text-white font-bold text-xl">Flight Ticket</h1>
        </div>
      </div>
      <div class="ml-14 mr-14 mt-2 flex flex-row gap-4">
        <div class="relative inline-block transition transform hover:scale-105">
          <img src="https://superpayturizm.com/assets/images/transfer-services.jpg" alt="" class="float-left transform rounded-lg transition" decoding="async" loading="lazy" />
          <div class="absolute bottom-0 left-0 transform px-8 py-4 transition">
            <h1 class="transform text-xl font-bold text-white transition-transform hover:scale-105">Car :))</h1>
          </div>
        </div>
        <div class="flex flex-col gap-4">
          <div class="relative inline-block flex-1 transition transform hover:scale-105">
            <img src="https://superpayturizm.com/assets/images/accommodation.jpg" alt="" class="float-right h-full w-full transform rounded-lg object-cover transition" decoding="async" loading="lazy" />
            <div class="absolute bottom-0 left-0 transform px-8 py-4 transition">
              <h1 class="transform text-xl font-bold text-white transition-transform hover:scale-105">Monney ?</h1>
            </div>
          </div>
          <div class="relative inline-block flex-1 transition transform hover:scale-105">
            <img src="https://superpayturizm.com/assets/images/cultural-tours.jpg" alt="" class="float-right h-full w-full transform rounded-lg object-cover transition" decoding="async" loading="lazy" />
            <div class="absolute bottom-0 left-0 transform px-8 py-4 transition">
              <h1 class="transform text-xl font-bold text-white transition-transform hover:scale-105">BO'UA WO'A</h1>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-28 flex justify-center">
      <h2 class="text-4xl font-bold" style="color: #3D377B;">
        <div class="bg-red-500 rounded-full w-20 h-20 mx-auto -mb-12"></div>
        Special Tours
      </h2>
    </div>
 
    <div class="relative">
      <img src="https://superpayturizm.com/assets/images/special-tours-bg.png" alt="" class="w-full h-auto" decoding="async" loading="lazy"> 
      <div class="absolute inset-0 mx-16 mt-16 flex gap-12">
        <div class="bg-white border-gray-300 border-4 border-spacing-2 rounded-3xl flex-auto overflow-hidden" style="width: 400px; height: 600px;">
          <img src="https://superpayturizm.com/assets/images/special-tours-01.jpg" alt="" class="w-full h-2/3 object-cover " decoding="async" loading="lazy">
          <h2 class="text-black font-semibold font-mono text-left p-4" style="font-size: large;">This Place</h2>
          <p class="text-gray-600 font-thin text-left px-4 -mt-4">
            This place is a place that used to be a place which means that it might still be a place and its your lucky day cuz its still a place.
          </p>
          <div class="flex justify-center items-center ">
            <button href="#" class="transition transform px-4 py-1 font-semibold mt-8 rounded-full bg-transparent border border-purple-600 hover:border-transparent text-purple-800 hover:bg-purple-700 hover:text-white focus:ring-2 focus:ring-purple-400 focus:ring-offset-2 hover:scale-110">Visit?@!</button>
          </div>
        </div>
        <div class="bg-white border-gray-300 border-4 border-spacing-2 rounded-3xl flex-auto overflow-hidden" style="width: 400px; height: 600px;">
          <img src="https://superpayturizm.com/assets/images/special-tours-02.jpg" alt="" class="w-full h-2/3 object-cover " decoding="async" loading="lazy">
          <h2 class="text-black font-semibold font-mono text-left p-4" style="font-size: large;">This Place</h2>
          <p class="text-gray-600 font-thin text-left px-4 -mt-4">
            This place is a place that used to be a place which means that it might still be a place and its your lucky day cuz its still a place.
          </p>
          <div class="flex justify-center items-center ">
            <button href="#" class="transition transform px-4 py-1 font-semibold mt-8 rounded-full bg-transparent border border-purple-600 hover:border-transparent text-purple-800 hover:bg-purple-700 hover:text-white focus:ring-2 focus:ring-purple-400 focus:ring-offset-2 hover:scale-110">Visit?@!</button>
          </div>
        </div>
        <div class="bg-white border-gray-300 border-4 border-spacing-2 rounded-3xl flex-auto" style="width: 400px; height: 600px;">
          <img src="https://superpayturizm.com/assets/images/special-tours-03.jpg" alt="" class="w-full h-2/3 object-cover " decoding="async" loading="lazy">
          <h2 class="text-black font-semibold font-mono text-left p-4" style="font-size: large;">This Place</h2>
          <p class="text-gray-600 font-thin text-left px-4 -mt-4">
            This place is a place that used to be a place which means that it might still be a place and its your lucky day cuz its still a place.
          </p>
          <div class="flex justify-center items-center ">
            <button href="#" class="transition transform px-4 py-1 font-semibold mt-8 rounded-full bg-transparent border border-purple-600 hover:border-transparent text-purple-800 hover:bg-purple-700 hover:text-white focus:ring-2 focus:ring-purple-400 focus:ring-offset-2 hover:scale-110">Visit?@!</button>
          </div>
        </div>

      </div>
    </div>

    <img src="https://superpayturizm.com/assets/images/statistic.jpg" alt="" class="w-full h-auto" decoding="async" loading="lazy">

    <div class="flex gap-20 px-20 mt-16">
      <div class="bg-transparent flex-auto hover:bg-custom-blue" style="width: 100px; height: 200px;">
        <h2 class="font-bold top-0 left-0 p-1" style="font-size: xx-large; color: #1692AC">Something</h2>
        <h3>iudgfsd kdsjfhs kjdsf kjsdbf ksdjbf kj bsdjfb</h3>
      </div>
      <div class="bg-transparent flex-auto" style="width: 100px; height: 200px;">
        <h2 class="font-bold top-0 left-0 p-1" style="font-size: xx-large; color: #AA1A55;">Someone</h2>
        <h3>iudgfsd kdsjfhs kjdsf kjsdbf ksdjbf kj bsdjfb</h3>
      </div>
      <div class="bg-transparent flex-auto" style="width: 100px; height: 200px;">
        <h2 class="font-bold top-0 left-0 p-1" style="font-size: xx-large; color: #F7435F;">Somewhere</h2>
        <h3>iudgfsd kdsjfhs kjdsf kjsdbf ksdjbf kj bsdjfb</h3>
      </div>
      <div class="bg-transparent flex-auto" style="width: 100px; height: 200px;">
        <h2 class="font-bold top-0 left-0 p-1" style="font-size: xx-large; color: #F78160;">Sometime</h2>
        <h3>iudgfsd kdsjfhs kjdsf kjsdbf ksdjbf kj bsdjfb</h3>
      </div>
     
    </div>
  </div>
    

  <div class="mt-28 flex justify-center relative"   style="background-color: #FFFFFF;">
    <h2 class="text-4xl font-bold" style="color: #3D377B;">
      <div class="bg-red-500 rounded-full w-20 h-20 mx-auto -mb-12"></div>
      OUR BUSINESS PARTERS
    </h2>
  </div>

  <div class="grid grid-cols-4 gap-4 mx-40 mt-16">
    <img src="https://superpayturizm.com/assets/images/business-partner-1.png" alt="" decoding="async" loading="lazy">
    <img src="https://superpayturizm.com/assets/images/business-partner-2.png" alt="" decoding="async" loading="lazy">
    <img src="https://superpayturizm.com/assets/images/business-partner-3.png" alt="" decoding="async" loading="lazy">
    <img src="https://superpayturizm.com/assets/images/business-partner-4.png" alt="" decoding="async" loading="lazy">
    <img src="https://superpayturizm.com/assets/images/business-partner-5.png" alt="" decoding="async" loading="lazy">
    <img src="https://superpayturizm.com/assets/images/business-partner-6.png" alt="" decoding="async" loading="lazy">
    <img src="https://superpayturizm.com/assets/images/business-partner-7.png" alt="" decoding="async" loading="lazy">
    <img src="https://superpayturizm.com/assets/images/business-partner-8.png" alt="" decoding="async" loading="lazy">
    
  </div>


  <div class="relative rounded-t-2xl w-full bg-blue-600"  style="height: 650px;">
    <img src="https://superpayturizm.com/assets/images/turkcure.png" alt="" class="w-full h-auto absolute inset-0" decoding="async" loading="lazy">
    <p class=" absolute text-white bottom-0 left-0 ml-20 mr-96 mb-16">TurkCure is a registered international health tourism agency to provide high-quality, time-saving, and cost-effective healthcare services to applicants and patients from around the world in Turkey. We have offices in Spain (Madrid) and Turkey (Istanbul).
      Our agency is a sub-brand of Superpay Health Tourism Company, active in the health services area in Turkiye.
    </p>

    <div class="absolute bottom-0 right-0 px-14 py-12 mb-10">
      <button class="transition transform px-6 py-2 bg-white font-semibold font-mono rounded-full hover:scale-110 hover:bg-green-700 hover:text-white focus: ring-2 focus:ring-white focus:ring-offset-4 focus:outline-none focus:ring-offset-blue-600">Go To TurkCure</button>    
    </div>
  </div>


  <div class="grid grid-cols-2 gap-8 px-16" style="background-color: #F5F5F5;">
    <div class="grid grid-rows-2">
      <h1 class="mt-10 font-bold" style="color: #3D377B; font-size: 29px;">TO BE INFORMED ABOUT CAMPAIGNS AND DEVELOPMENTS</h1>
      <div class="grid grid-cols-2 -mt-40">
        <div class="-mt-10">
          <span class="block text-sm font-medium text-slate-700">First name*</span>
          <input type="text" class="bg-white mt-2 border-2 border-gray-500 rounded-lg" style="width: 275px; height: 40px; ">
        </div>
        <div class="-mt-10">
          <span class="block text-sm font-medium text-slate-700">Last name*</span>
          <input type="text" class="bg-white mt-2 border-2 border-gray-500 rounded-lg" style="width: 275px; height: 40px; ">
        </div>
        <div class="-mt-36">
          <span class="block text-sm font-medium text-slate-700">Email*</span>
          <input type="text" class="bg-white mt-2 border-2 border-gray-500 rounded-lg" style="width: 275px; height: 40px; ">
        </div>
        <div class="-mt-36">
          <span class="block text-sm font-medium text-slate-700">Phone Number*</span>
          <input type="text" class="bg-white mt-2 border-2 border-gray-500 rounded-lg" style="width: 275px; height: 40px; ">
        </div>
        <div class="-mt-40 px-4">
          <button class="transition transform px-6 py-2 text-white rounded-full hover:scale-110 focus:ring-2 focus:bg-indigo-900 focus:ring-offset-2" style="font-size: 18px; background-color: #1B1464;">Save</button>
        </div>
      </div>
    </div>
    <div>
      <img src="https://superpayturizm.com/assets/images/image-02.png" alt="" class="w-full h-auto" decoding="async" loading="lazy">
    </div>
  </div>

  <footer>
    <div class="relative">
      <img src="https://superpayturizm.com/assets/images/contact-us-bg.png" alt="" decoding="async" loading="lazy">
      <div class="absolute inset-0 grid grid-cols-2">
        <div class="p-24 grid grid-cols-2:">
          <img src="https://superpayturizm.com/assets/images/support.png" alt="" decoding="async" loading="lazy">
          <h1 class="text-white">something someone</h1>
        </div>
        <h1 class="text-white">someone somewhere</h1>
      </div>
    </div>    
  </footer>



  
</body>
</html>