<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/pagedone@1.2.1/src/css/pagedone.css"/>  <!-- important for slides sweeper thing -->
    <link href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" rel="stylesheet"/> <!-- important for slides sweeper thing -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script> <!-- important for slides sweeper thing -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <style>
      .timeline-number {
        transition: color 0.3s ease;
      }
      .timeline-number.active {
        color: red; /* Change this color as needed */
        border-color: red;
      }
    </style>
  </head>
  
<body>
          <!-- It should be moved to another file named "navbar.html" -->
    <nav class="sticky top-0 z-50" style="background-color: #1B1464;"> 
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
          <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src="https://superpayturizm.com/assets/images/logo.png" alt="logo" loading="lazy" width="170" height="55" decoding="async" class="w-[100px] md:w-[170px] " style="color: transparent;">
          </a>
          <div class="flex space-x-4">
            <a href="#" class="transition transform hover:scale-110 rounded-md px-3 py-2 text-sm font-medium text-gray-200 hover:bg-indigo-800 hover:text-white">Services</a>
            <a href="#" class="transition transform hover:scale-110 rounded-md px-3 py-2 text-sm font-medium text-gray-200 hover:bg-indigo-800 hover:text-white">Institutional</a>
            <a href="#" class="transition transform hover:scale-110 rounded-md px-3 py-2 text-sm font-medium text-gray-200 hover:bg-indigo-800 hover:text-white">Personalized Travel</a>
            <a href="#" class="transition transform hover:scale-110 rounded-md px-3 py-2 text-sm font-medium text-gray-200 hover:bg-indigo-800 hover:text-white">Health Tourism</a>
            <a href="#" class="transition transform hover:scale-110 rounded-md px-3 py-2 text-sm font-medium text-gray-200 hover:bg-indigo-800 hover:text-white">Special Tours</a>
          </div>
          <a href="#" class="flex text-sm text-white gap-2 bg-red-500 py-3 px-4 rounded-3xl hover:bg-red-600 transition transform hover:scale-105 ">
            <img src="https://www.reshot.com/preview-assets/icons/UANBKF398R/whatsapp-UANBKF398R.svg" alt="whatsapp" loading="lazy" width="24" height="20" decoding="async" style="color: transparent;" class="">
            <div class="text-md font-semibold">02123003366</div>
          </a>
        </div>
    </nav>
  <div style="background-color: #EEEFF0;">
    <div class="relative">
        <img src="https://superpayturizm.com/assets/images/header.jpg" alt="bg" class="w-full h-auto">
        <div class="absolute inset-0 flex flex-col items-center justify-center space-y-4">
            <h1 class="text-white text-1.2xl font" style="letter-spacing: 20px;">BEST TOUR IN</h1>
            <h2 class="text-white font-semibold hover:scale-150" style="font-size: 190px;">ISTANBUL</h2>
            <button class="hover:bg-gray-600 hover:bg-opacity-50 transition transform hover:scale-150 rounded-full border border-white px-10 py-3 text-white font-semibold flex items-center">
                <img src="https://superpayturizm.com/assets/svg/call.svg" alt="" class="w-6 h-6 mr-2">
                Reserve Now
            </button>         
        </div>
    </div>

    <div class="mt-28 flex justify-center">
      <h2 class="text-4xl font-bold" style="color: #3D377B;">
        <div class="bg-red-500 rounded-full w-20 h-20 mx-auto -mb-12"></div>
        Services
      </h2>
    </div>

    <div class="text-center mx-auto mb-16 px-80 mt-10 font-semibold" style="color: #3D377B;">
      It is the general sales agency of Turkish Airlines, Sun Express and Pegasus Airlines. Our team handles all your 
      corporate travel needs; We provide services in all areas of tourism with our domestic & international tickets, 
      accommodation, visa, car rental & transfer and VIP services. corporate-travelCorporate Travel
    </div>
    
    <div class="mt-16">
      <div class="relative inline-block ml-14 px-1 transition transform hover:scale-105">
        <img src="https://superpayturizm.com/assets/images/corporate-travel.jpg" alt="" class=" rounded-lg" decoding="async" loading="lazy">
        <div class="absolute bottom-0 left-0 px-8 py-4 transition-transform">
          <h1 class="text-white font-bold text-xl transition-transform transform hover:scale-110">Corporate Travel</h1>
        </div>
      </div>
      <div class="relative inline-block transition transform hover:scale-105">
        <img src="https://superpayturizm.com/assets/images/flight-ticket.jpg" alt="" class=" rounded-lg" decoding="async" loading="lazy">
        <div class="absolute bottom-0 left-0 px-8 py-4 transition-transform">
          <h1 class="text-white font-bold text-xl">Flight Ticket</h1>
        </div>
      </div>
      <div class="ml-14 mr-14 mt-2 flex flex-row gap-4">
        <div class="relative inline-block transition transform hover:scale-105">
          <img src="https://superpayturizm.com/assets/images/transfer-services.jpg" alt="" class="float-left transform rounded-lg transition" decoding="async" loading="lazy" />
          <div class="absolute bottom-0 left-0 transform px-8 py-4 transition">
            <h1 class="transform text-xl font-bold text-white transition-transform hover:scale-105">Car :))</h1>
          </div>
        </div>
        <div class="flex flex-col gap-4">
          <div class="relative inline-block flex-1 transition transform hover:scale-105">
            <img src="https://superpayturizm.com/assets/images/accommodation.jpg" alt="" class="float-right h-full w-full transform rounded-lg object-cover transition" decoding="async" loading="lazy" />
            <div class="absolute bottom-0 left-0 transform px-8 py-4 transition">
              <h1 class="transform text-xl font-bold text-white transition-transform hover:scale-105">Monney ?</h1>
            </div>
          </div>
          <div class="relative inline-block flex-1 transition transform hover:scale-105">
            <img src="https://superpayturizm.com/assets/images/cultural-tours.jpg" alt="" class="float-right h-full w-full transform rounded-lg object-cover transition" decoding="async" loading="lazy" />
            <div class="absolute bottom-0 left-0 transform px-8 py-4 transition">
              <h1 class="transform text-xl font-bold text-white transition-transform hover:scale-105">BO'UA WO'A</h1>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-28 flex justify-center">
      <h2 class="text-4xl font-bold" style="color: #3D377B;">
        <div class="bg-red-500 rounded-full w-20 h-20 mx-auto -mb-12"></div>
        Special Tours
      </h2>
    </div>
 
    <div class="relative">
      <img src="https://superpayturizm.com/assets/images/special-tours-bg.png" alt="" class="w-full h-auto" decoding="async" loading="lazy"> 
      <div class="absolute inset-0 mx-16 mt-16 flex gap-12">
        <div class="bg-white border-gray-300 border-4 border-spacing-2 rounded-3xl flex-auto overflow-hidden" style="width: 400px; height: 600px;">
          <img src="https://superpayturizm.com/assets/images/special-tours-01.jpg" alt="" class="w-full h-2/3 object-cover " decoding="async" loading="lazy">
          <h2 class="text-black font-semibold font-mono text-left p-4" style="font-size: large;">This Place</h2>
          <p class="text-gray-600 font-thin text-left px-4 -mt-4">
            This place is a place that used to be a place which means that it might still be a place and its your lucky day cuz its still a place.
          </p>
          <div class="flex justify-center items-center ">
            <button href="#" class="transition transform px-4 py-1 font-semibold mt-8 rounded-full bg-transparent border border-purple-600 hover:border-transparent text-purple-800 hover:bg-purple-700 hover:text-white focus:ring-2 focus:ring-purple-400 focus:ring-offset-2 hover:scale-110">Visit?@!</button>
          </div>
        </div>
        <div class="bg-white border-gray-300 border-4 border-spacing-2 rounded-3xl flex-auto overflow-hidden" style="width: 400px; height: 600px;">
          <img src="https://superpayturizm.com/assets/images/special-tours-02.jpg" alt="" class="w-full h-2/3 object-cover " decoding="async" loading="lazy">
          <h2 class="text-black font-semibold font-mono text-left p-4" style="font-size: large;">This Place</h2>
          <p class="text-gray-600 font-thin text-left px-4 -mt-4">
            This place is a place that used to be a place which means that it might still be a place and its your lucky day cuz its still a place.
          </p>
          <div class="flex justify-center items-center ">
            <button href="#" class="transition transform px-4 py-1 font-semibold mt-8 rounded-full bg-transparent border border-purple-600 hover:border-transparent text-purple-800 hover:bg-purple-700 hover:text-white focus:ring-2 focus:ring-purple-400 focus:ring-offset-2 hover:scale-110">Visit?@!</button>
          </div>
        </div>
        <div class="bg-white border-gray-300 border-4 border-spacing-2 rounded-3xl flex-auto" style="width: 400px; height: 600px;">
          <img src="https://superpayturizm.com/assets/images/special-tours-03.jpg" alt="" class="w-full h-2/3 object-cover " decoding="async" loading="lazy">
          <h2 class="text-black font-semibold font-mono text-left p-4" style="font-size: large;">This Place</h2>
          <p class="text-gray-600 font-thin text-left px-4 -mt-4">
            This place is a place that used to be a place which means that it might still be a place and its your lucky day cuz its still a place.
          </p>
          <div class="flex justify-center items-center ">
            <button href="#" class="transition transform px-4 py-1 font-semibold mt-8 rounded-full bg-transparent border border-purple-600 hover:border-transparent text-purple-800 hover:bg-purple-700 hover:text-white focus:ring-2 focus:ring-purple-400 focus:ring-offset-2 hover:scale-110">Visit?@!</button>
          </div>
        </div>

      </div>
    </div>

     <!--SWEEPER CODE-->

     <div class="grid grid-cols-2">
      <div class="relative" style="width: 600px;">
        <div class="swiper default-carousel swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="rounded-2xl flex justify-center items-center">
                <img src="https://superpayturizm.com/assets/images/tours/0/0/0.jpg" alt="" class="" decoding="async" loading="lazy">
              </div>
            </div>
            <div class="swiper-slide">
              <div class="rounded-2xl flex justify-center items-center">
                <img src="https://superpayturizm.com/assets/images/tours/0/1/0.jpg" alt="" class="" decoding="async" loading="lazy">
              </div>
            </div>
            <div class="swiper-slide">
              <div class="rounded-2xl flex justify-center items-center">
                <img src="https://superpayturizm.com/assets/images/tours/0/2/0.jpg" alt="" class="" decoding="async" loading="lazy">
              </div>
            </div>
            <div class="swiper-slide">
              <div class="rounded-2xl flex justify-center items-center">
                <img src="https://superpayturizm.com/assets/images/tours/0/3/0.jpg" alt="" class="" decoding="async" loading="lazy">
              </div>
            </div>
          </div>
          <div class="flex items-center gap-8 lg:justify-start justify-center">
            <button id="slider-button-left" class="swiper-button-prev ml-4 px-2" style="width: 50px; height: 50px;">
              <svg class="text-white duration-500 rounded-full hover:bg-indigo-700 hover:scale-110 transition transform bg-indigo-900" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                <path d="M10.0002 11.9999L6 7.99971L10.0025 3.99719" stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </button>
            <button id="slider-button-right" class="swiper-button-next mr-4 px-2" style="width: 50px; height: 50px;">
              <svg class="text-white duration-500 rounded-full hover:bg-indigo-700 hover:scale-110 transition transform bg-indigo-900" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                <path d="M5.99984 4.00012L10 8.00029L5.99748 12.0028" stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </button>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
      <div>
        <div class="space-y-8">
          <!-- Timeline Item 1 -->
          <div class="flex">
            <div class="flex flex-col items-center">
              <div id="timeline-number-1" class="timeline-number w-7 h-7 rounded-full border-2 border-blue-500 flex items-center justify-center text-blue-500">1</div>
              <div class="h-full border-l-2 border-dotted border-gray-300"></div>
            </div>
            <div class="ml-4">
              <h4 class="text-lg font-bold">Park of Istanbul Zoo</h4>
              <p class="text-gray-600">Including horse riding, zip-line, visiting animals, Gift shop, etc.</p>
              <p class="text-red-500 font-bold">Visiting Hour: 10:00 to 14:30</p>
            </div>
          </div>
          <!-- Timeline Item 2 -->
          <div class="flex">
            <div class="flex flex-col items-center">
              <div id="timeline-number-2" class="timeline-number w-7 h-7 rounded-full border-2 border-blue-500 flex items-center justify-center text-blue-500">2</div>
              <div class="h-full border-l-2 border-dotted border-gray-300"></div>
            </div>
            <div class="ml-4">
              <h4 class="text-lg font-bold">Forum Istanbul Shopping and Lunch</h4>
              <p class="text-gray-600">You can visit amazing shops at this place or choose to have your lunch at any restaurant there.</p>
              <p class="text-red-500 font-bold">Visiting Hour: 15:00 to 17:00</p>
            </div>
          </div>
          <!-- Timeline Item 3 -->
          <div class="flex">
            <div class="flex flex-col items-center">
              <div id="timeline-number-3" class="timeline-number w-7 h-7 rounded-full border-2 border-blue-500 flex items-center justify-center text-blue-500">3</div>
              <div class="h-full border-l-2 border-dotted border-gray-300"></div>
            </div>
            <div class="ml-4">
              <h4 class="text-lg font-bold">Legoland Istanbul</h4>
              <p class="text-gray-600">Including 4D cinema, café, different Lego games, and gift shops.</p>
              <p class="text-red-500 font-bold">Visiting Hour: 17:30 to 20:00</p>
            </div>
          </div>
          <!-- Timeline Item 4 -->
          <div class="flex">
            <div class="flex flex-col items-center">
              <div id="timeline-number-4" class="timeline-number w-7 h-7 rounded-full border-2 border-blue-500 flex items-center justify-center text-blue-500">4</div>
            </div>
            <div class="ml-4">
              <h4 class="text-lg font-bold">Sea Life Istanbul Aquarium</h4>
              <p class="text-gray-600">Including several different fish-visiting tours and gift shops.</p>
              <p class="text-red-500 font-bold">Visiting Hour: 17:30 to 20:00</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  

      
    <img src="https://superpayturizm.com/assets/images/statistic.jpg" alt="" class="w-full h-auto mt-20" decoding="async" loading="lazy">

    <div class="flex gap-20 px-20 mt-16">
      <div class="bg-transparent flex-auto hover:bg-custom-blue" style="width: 100px; height: 200px;">
        <h2 class="font-bold top-0 left-0 p-1" style="font-size: xx-large; color: #1692AC">Something</h2>
        <h3>iudgfsd kdsjfhs kjdsf kjsdbf ksdjbf kj bsdjfb</h3>
      </div>
      <div class="bg-transparent flex-auto" style="width: 100px; height: 200px;">
        <h2 class="font-bold top-0 left-0 p-1" style="font-size: xx-large; color: #AA1A55;">Someone</h2>
        <h3>iudgfsd kdsjfhs kjdsf kjsdbf ksdjbf kj bsdjfb</h3>
      </div>
      <div class="bg-transparent flex-auto" style="width: 100px; height: 200px;">
        <h2 class="font-bold top-0 left-0 p-1" style="font-size: xx-large; color: #F7435F;">Somewhere</h2>
        <h3>iudgfsd kdsjfhs kjdsf kjsdbf ksdjbf kj bsdjfb</h3>
      </div>
      <div class="bg-transparent flex-auto" style="width: 100px; height: 200px;">
        <h2 class="font-bold top-0 left-0 p-1" style="font-size: xx-large; color: #F78160;">Sometime</h2>
        <h3>iudgfsd kdsjfhs kjdsf kjsdbf ksdjbf kj bsdjfb</h3>
      </div>
     
    </div>
  </div>
    

  <div class="mt-28 flex justify-center relative"   style="background-color: #FFFFFF;">
    <h2 class="text-4xl font-bold" style="color: #3D377B;">
      <div class="bg-red-500 rounded-full w-20 h-20 mx-auto -mb-12"></div>
      OUR BUSINESS PARTERS
    </h2>
  </div>

  <div class="grid grid-cols-4 gap-4 mx-40 mt-16">
    <img src="https://superpayturizm.com/assets/images/business-partner-1.png" alt="" decoding="async" loading="lazy">
    <img src="https://superpayturizm.com/assets/images/business-partner-2.png" alt="" decoding="async" loading="lazy">
    <img src="https://superpayturizm.com/assets/images/business-partner-3.png" alt="" decoding="async" loading="lazy">
    <img src="https://superpayturizm.com/assets/images/business-partner-4.png" alt="" decoding="async" loading="lazy">
    <img src="https://superpayturizm.com/assets/images/business-partner-5.png" alt="" decoding="async" loading="lazy">
    <img src="https://superpayturizm.com/assets/images/business-partner-6.png" alt="" decoding="async" loading="lazy">
    <img src="https://superpayturizm.com/assets/images/business-partner-7.png" alt="" decoding="async" loading="lazy">
    <img src="https://superpayturizm.com/assets/images/business-partner-8.png" alt="" decoding="async" loading="lazy">
    
  </div>


  <div class="relative rounded-t-2xl w-full bg-blue-600"  style="height: 650px;">
    <img src="https://superpayturizm.com/assets/images/turkcure.png" alt="" class="w-full h-auto absolute inset-0" decoding="async" loading="lazy">
    <p class=" absolute text-white bottom-0 left-0 ml-20 mr-96 mb-16">TurkCure is a registered international health tourism agency to provide high-quality, time-saving, and cost-effective healthcare services to applicants and patients from around the world in Turkey. We have offices in Spain (Madrid) and Turkey (Istanbul).
      Our agency is a sub-brand of Superpay Health Tourism Company, active in the health services area in Turkiye.
    </p>

    <div class="absolute bottom-0 right-0 px-14 py-12 mb-10">
      <button class="transition transform px-6 py-2 bg-white font-semibold font-mono rounded-full hover:scale-110 hover:bg-green-700 hover:text-white focus: ring-2 focus:ring-white focus:ring-offset-4 focus:outline-none focus:ring-offset-blue-600">Go To TurkCure</button>    
    </div>
  </div>


  <div class="grid grid-cols-2 gap-8 px-16" style="background-color: #F5F5F5;">
    <div class="grid grid-rows-2">
      <h1 class="mt-10 font-bold" style="color: #3D377B; font-size: 29px;">TO BE INFORMED ABOUT CAMPAIGNS AND DEVELOPMENTS</h1>
      <div class="grid grid-cols-2 -mt-40">
        <div class="-mt-10">
          <span class="block text-sm font-medium text-slate-700">First name*</span>
          <input type="text" class="bg-white mt-2 border-2 border-gray-500 rounded-lg px-3 " style="width: 275px; height: 40px; ">
        </div>
        <div class="-mt-10">
          <span class="block text-sm font-medium text-slate-700">Last name*</span>
          <input type="text" class="bg-white mt-2 border-2 border-gray-500 rounded-lg px-3" style="width: 275px; height: 40px; ">
        </div>
        <div class="-mt-36">
          <span class="block text-sm font-medium text-slate-700">Email*</span>
          <input type="text" class="bg-white mt-2 border-2 border-gray-500 rounded-lg px-3" style="width: 275px; height: 40px; ">
        </div>
        <div class="-mt-36">
          <span class="block text-sm font-medium text-slate-700">Phone Number*</span>
          <input type="text" class="bg-white mt-2 border-2 border-gray-500 rounded-lg px-3" style="width: 275px; height: 40px; ">
        </div>
        <div class="-mt-40 px-4">
          <button class="transition transform px-6 py-2 text-white rounded-full hover:scale-110 focus:ring-2 focus:bg-indigo-900 focus:ring-offset-2" style="font-size: 18px; background-color: #1B1464;">Save</button>
        </div>
      </div>
    </div>
    <div>
      <img src="https://superpayturizm.com/assets/images/image-02.png" alt="" class="w-full h-auto" decoding="async" loading="lazy">
    </div>
  </div>

  <footer>
    <div class="relative">
      <img src="https://superpayturizm.com/assets/images/contact-us-bg.png" alt="" decoding="async" loading="lazy">
      <div class="absolute inset-0 grid grid-cols-2">
        <div class="p-24 grid grid-cols-2 -mt-8">
          <img src="https://superpayturizm.com/assets/images/support.png" alt="" decoding="async" loading="lazy" class="-mr-40">
          <h1 class="text-white mt-6 -ml-40 font-semibold" style="font-size: large;">+90 something someone</h1>
        </div>
        <div class="p-24 grid grid-cols-2 -mt-8">
          <img src="https://superpayturizm.com/assets/images/support.png" alt="" decoding="async" loading="lazy" class="-mr-40">
          <h1 class="text-white mt-6 -ml-40 font-semibold" style="font-size: large;">+90 something someone</h1>
        </div>      
      </div>
    </div>    
  </footer>



  <!-- for the swiper to work -->
  <script>
    const swiper = new Swiper('.swiper-container', {
        loop: true, // Enable looping
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        autoplay: {
            delay: 5000, // Delay between slides
            disableOnInteraction: false, // Continue autoplay after interaction
        },
    });
</script>

  <!-- to not see the unwanted arrows -->

<style>
  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: none;
  }
  </style>
  

  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script>
    const myswiper = new Swiper('.swiper-container', {
      loop: false,
      pagination: {
        el: '.swiper-pagination',
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      on: {
        slideChange: function () {
          const timelineNumbers = document.querySelectorAll('.timeline-number');
          timelineNumbers.forEach((number, index) => {
            number.classList.remove('active');
          });
          const activeIndex = swiper.realIndex; // Use realIndex to avoid issues with loop
          const currentTimelineNumber = document.getElementById(`timeline-number-${activeIndex + 1}`);
          if (currentTimelineNumber) {
            currentTimelineNumber.classList.add('active');
          }
        },
      },
    });

    // Initial call to set the correct color on page load
    myswiper.update();
    myswiper.slideTo(swiper.activeIndex, 0, false);
  </script>
  

  <script src="https://cdn.jsdelivr.net/npm/pagedone@1.2.1/src/js/pagedone.js"></script> <!-- important for slides sweeper thing -->
</body>
</html>